@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../imagens/imgIndex.jfif);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    padding: 2vw;
    text-align: center;
}
    header > h1{
        color: white;
        text-shadow: 1px 1px 1px black;
    }

main > div {
    padding: 10px 15px;
    margin: auto;

    min-width: 200px;
    max-width: 70vw;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);


    color: white;
}
    main > div > h1{
        text-align: center;
        margin-bottom: 1%;
        text-shadow: 1px 1px 1px black;
    }
    main > div fieldset {
        width: 80%;
        text-align: left;
        border-radius: 20px;
        padding: 20px 10px;
        margin: 0px auto 30px auto;    
    }
    main > div legend {
        text-align: left;
        padding: 0px 5px;
        margin-left: 10px;
    }
    main > div div{
        display: inline-block;
        margin: 1.04%;
    }
    main > div div > input{
        width: 150px;
        padding: 3px 5px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.259);
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.715);
        transition: .2s;
    }
        main > div div > input:hover{
            border: 1px solid #ffffff;
        }
        main > div div > input:focus{
            border: 1px solid #ffffff;
            outline: none;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }


    main > div a{
        color: white;
        text-decoration: none;
    }
        main > div a:hover{
            text-decoration: underline;
        }
    #submit{
        display: block;
        margin: auto;
        margin-bottom: 7vh;
        border: 1px solid #ffffff;

        padding: 15px;

        width: 200px;
        border-radius: 20px;

        text-decoration: none;
        text-align: center;
        color: black;

        background-color: white;
        transition: .5s;
    }
        #submit:hover{
            background-color: #ae2ec500;
            border: 1px solid #9C27B0;
            color: white;
        }