@charset "UTF-8";

/*
CORES
#1E3A8A azul 
#9C27B0 roxo
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../imagens/planoFundoIndex.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    padding: 2vw;
    text-align: center;
}
    header > h1{
        color: white;
        text-shadow: 1px 1px 1px black;

    }

main > div {
    padding: 15px;
    margin: auto;
    margin-bottom: 35px;

    min-height: 70vh;
    min-width: 400px;
    max-width: 70vw;

    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);


    color: white;
}
    main > div > h1{
        text-align: center;
        margin-bottom: 5px;
        text-shadow: 1px 1px 1px black;
    }
    main > div fieldset {
        width: 80%;
        text-align: center;
        border-radius: 20px;
        padding: 30px 10px;
        margin: 0px auto 30px auto;    
    }
    main > div legend {
        text-align: left;
        margin-left: 10px;
    }
    main > div div{
        display: inline-block;
        margin: 5px 15px ;
    }
    main > div div > input{
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.637);
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.715);
        transition: .2s;
    }
        main > div div > input:hover{
            border-bottom: 1px solid #ffffff;
        }
        main > div div > input:focus{
            border-bottom: 1px solid #ffffff;
            outline: none;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }


    main > div a{
        color: white;
        text-decoration: none;
    }
        main > div a:hover{
            text-decoration: underline;
        }
    #submit{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid #ffffff;

        padding: 15px;

        width: 200px;
        border-radius: 20px;

        text-decoration: none;
        text-align: center;
        color: black;

        background-color: white;
        transition: .5s;
    }
        #submit:hover{
            background-color: #ae2ec500;
            border: 1px solid #9C27B0;
            color: white;
        }