@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

:root{
    --corPrimaria: #16453f;
    --corSecundaria: #59a87d;
    --corTercearea: #852453;
    --corQuaternarea: #f0debb;
}


@media (max-width: 480px) {
    
    .flexivel{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        
    }
    .item{
        text-align: center;
        width: 150px;
        height: 150px;
        border-radius: 15px;

        background-color: var(--corTercearea);
    }
    .cartao{
        
    }
    .carrossel{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    a{
        text-decoration: none;
        color: var(--corQuaternarea);
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 5px;

        color: var(--corQuaternarea);
        background-color: var(--corPrimaria);
    }
        header > h1{
            font-size: 1.5em;
        }


    main{
        padding: 10px;

        background-color: var(--corSecundaria);
    }
        main input[type="search"]{
            max-width: 250px;
            flex: 1;
            
            border: 0;
            border-radius: 5px;
            border-bottom: 2px solid ;
            padding: 1px 10px;
            margin-bottom: 20px;

            color: var(--corQuaternarea);
            background-color: transparent;

            transform: translateY(4px);
            transition: .3s;
        }
            main input[type="search"]:hover{
                transform: translateY(5px);
            }
            main input[type="search"]:focus{
                outline: none;
                transform: translateY(5px);
            }
                main input[type="search"]::-webkit-search-cancel-button{
                    display: none;      
                }
        
        main section{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            justify-content: space-evenly;
        }        
    #imgPerfil{
        width: 40px;
        height: 40px;
        border-radius: 50%;

        margin-left: 4px;
    }
    #imgSearch{
        transform: translateY(3px);
    }
}