@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black;  */
}


:root {
    --color1: #61568C;
    --color2: #475459;
    --color3: #818B8C;
    --color4: #070A0D;
    --color5: #F2F2F2;
}


@media (max-width: 480px) {

    h1, h2{
        font-family: "JetBrains Mono", monospace;
    }

    p{
        font-family: "Inter";
    }


    body{
        scrollbar-width: 0;

        background: var(--color4) url(../img/mobile/homeBackgroundImg1.jpg) repeat top center;
        background-size: contain;
    }


    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

        header a{
            margin: 3px 10px;

            color: var(--color5);
            
            text-decoration: none;
            
            transition: .3s;
        }

        header svg{
            width: 40px;
            height: 40px;
        }
        
        header nav{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: end;
            
            position: fixed;

            backdrop-filter: blur(2px);

            margin: auto;
            padding: 0px 15px; 
            
            border-bottom: 1px solid var(--color1);
            border-radius: 10px;
        }

    
    main section{
        margin: 150px 10px;
    }

        section#alGbra{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            padding: 10px;
        }

            section#alGbra a#linkalGbra{
                display: flex;
                flex-flow: row nowrap;
                gap: 3px;

                font-size: .7em;

                text-decoration: none;
                color: var(--color1);
            }
    
                section#alGbra a#linkalGbra > svg{
                    width: 10px;
                }
            
            section#alGbra h1{
                overflow: hidden;
                animation: typing 1.5s steps(7) forwards;

                font-size: 4.6em;

                color: var(--color3);
            }

                @keyframes typing {

                    0% {
                        width: 0;
                        border-right: 3px solid var(--color1);
                    }

                    80% {
                        width: 7ch;
                        border-right: 3px solid var(--color1);
                    }

                    100% {
                        width: 7ch;
                        border-right: transparent;
                    }
                    
                }

            section#alGbra > p{
                text-align: justify;
                line-height: 25px;

                margin-bottom: 130px;
                color: var(--color2);
            }
            
            section#alGbra > div{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }

                section#alGbra > div > h2{
                    color: var(--color3);
                }

                section#alGbra > div > p{
                    color: var(--color2);
                }

                section#alGbra > div > a{
                    padding: 10px 50px;

                    background-color: var(--color1);

                    border-radius: 15px;

                    text-align: center;

                    transition: .2s;

                }

                    section#alGbra > div > a > svg{
                        color: var(--color5);
                        width: 30px;

                    }

}