@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white;  */
}

:root {
    --color1: #61568C;
    --color2: #475459;
    --color3: #818B8C;
    --color4: #070A0D;
    --color5: #F2F2F2;
}


h1, h2{
        font-family: "JetBrains Mono", monospace;
    }

p{
    font-family: "Inter";
}


.typing{
    animation: typing 1.5s steps(7) forwards;
}

.intro1{
    animation: intro1 2s forwards;
}

.intro2{
    animation: intro2 1s forwards;
}

.intro3{
    animation: intro3 1s forwards;
}

@keyframes typing {

                    0% {
                        width: 0;
                        border-right: 3px solid var(--color1);
                    }

                    80% {
                        width: 7ch;
                        border-right: 3px solid var(--color1);
                    }

                    100% {
                        width: 7ch;
                        border-right: transparent;
                    }
                    
                }

@keyframes intro1 {
    from{
        color: transparent;
    }
}
                
@keyframes intro2 {

    from{
        color: transparent;

        transform: translateY(-20px);
    }

}


@media (max-width: 600px) {

    body{
        scrollbar-width: 0;

        background: var(--color4) url(../img/mobile/homeBackgroundImg1.jpg) repeat top center;
        background-size: contain;
    }


    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

        header a{
            margin: 3px 10px;

            color: var(--color5);
            
            text-decoration: none;
            
            transition: .3s;
        }

        header svg{
            width: 40px;
            height: 40px;
        }
        
        header nav{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: end;
            
            position: fixed;

            backdrop-filter: blur(2px);

            margin: auto;
            padding: 0px 15px; 
            
            border-bottom: 1px solid var(--color1);
            border-radius: 10px;
        }

    
    main section{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 10px;
        margin: 230px 10px;
    }

        section#alGbra{
        }

            section#alGbra a#linkalGbra{
                display: flex;
                flex-flow: row nowrap;
                gap: 3px;

                font-size: .7em;

                text-decoration: none;
                color: var(--color1);
            }
    
                section#alGbra a#linkalGbra > svg{
                    width: 10px;
                }
            
            section#alGbra h1{
                overflow: hidden;
                
                font-size: 4.6em;
                
                color: var(--color5);
            }

            section#alGbra > p{
                text-align: justify;
                line-height: 25px;

                margin-bottom: 230px;
                color: var(--color3);
            }
            
            section#alGbra > div{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }

                section#alGbra > div > h2{                    
                    font-size: 1.7em;

                    color: var(--color5);
                    border-bottom: 1px solid var(--color1);
                }

                section#alGbra > div > p{
                    color: var(--color3);
                }

                section#alGbra > div > a{
                    padding: 10px 50px;

                    background-color: var(--color1);

                    border-radius: 15px;

                    text-align: center;

                    transition: .2s;

                }

                    section#alGbra > div > a > svg{
                        color: var(--color5);
                        width: 30px;
                    }


        section#math {
            padding-top: 100px;
        }

            section#math h1{
                font-size: 2em;


                color: var(--color5);

                border: 1px solid var(--color1);
                border-top: 0;
                border-bottom: 0;

                margin: auto;
                margin-bottom: 30px;
            }

            section#math h2{
                color: var(--color5);
            }

            section#math p{
                color: var(--color3);
                text-align: center;


                margin-bottom: 1000px;
            }

}