* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

:root {
    --color1: #F2F2F2;
    --color2: #8C8C8C;
    --color3: #404040;
    --color4: #262626;
    --color5: #0D0D0D;
}


.ridden {
    display: none;
}


@media (max-width: 480px) {

    body a {
        margin: 0 4px;
        color: var(--color1);
        text-decoration: none;
    }
    
    header svg{
        display: inline-block;
        width: 40px;
        height: 40px;
    }


    header {
        

        background-color: var(--color3);
    }
        header nav{
            display: flexbox;
            flex-flow: row nowrap;
            justify-content: end;
        }


}