@charset "UTF-8";

@font-face {
    font-family: 'logo';
    src: url('../fontes/Lemon\ Shake\ Shake.ttf') format('TrueType');
}
@font-face {
    font-family:'burguer';
    src: url('../fontes/Blue_Cashews.otf') format('OpenType'); 
}

:root{
    --font-logo: 'logo', cursive;
    --font-burguer: 'burguer', cursive;
    --font-padrao: arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: gray;
    padding-top: 60px;
    padding-bottom: 20px;
    margin: auto;
    height: 150px;
}
    header h1{
        font-family: var(--font-logo);
        font-size: 3em;
        text-align: center;
        margin-bottom: 20px;
    }
    header p{
        font-family: var(--font-logo);
        text-align: center;
        font-size: 1em;
    }


nav{
    background-color: lightgray;
    padding: 5px;
}
    nav a{
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 5px;

        margin-right: 3px;
        padding: 3px;
        transition-duration: .5s;
    }
        nav a:hover{
            color: white;
            background-color: black;
        }



main{
    background-color: darkgray;
    height: auto;
    max-width: 1000px;
    min-width: none;

    margin: auto;
    padding: 20px;
}
    main div.hamburguers{
        max-width: 500px;
        min-width: auto;
        height: 300px;
        border-radius: 20px;
        transition-duration: .5s;

        text-align: center;

        padding-top: 60px;
    }
        div.left{
            margin: 0px auto 90px 0px;
            box-shadow: -4px 5px 6px 1px rgba(0, 0, 0, 0.500);
        }
        div.right{
            margin: 0px 0px 90px auto;
            box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.500);
        }
        
        div.hamburguers h1{
            font-family: var(--font-burguer);
            font-size: 2em;
            color: transparent;
            transition-duration: .45s;
        }
            div.hamburguers:hover h1{
                color: white;
                display: block;
            }

        div.hamburguers p{
            font-family: var(--font-padrao);
            font-size: 1.6em;
            color: transparent;
            transition-duration: .45s;
            margin-bottom: 100px;
        }
            div.hamburguers:hover p{
                color: white;
                display: block;
            }

        div.hamburguers a{
            font-family: var(--font-padrao);
            font-size: 1.1em;
            color: transparent;
            text-decoration: none;
            transition-duration: .45s;

            margin-top: 40px;
            border-radius: 20px;
            padding: 15px;
        }
            div.hamburguers:hover a{
                    background-color: red;
                    color: white;
                }

    #hb1{
        background-color: black;
        background-image: url(../imagens/hb1.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb2{
        background-color: black;
        background-image: url(../imagens/hb2.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb3{
        background-color: black;
        background-image: url(../imagens/hb3.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb4{
        background-color: black;
        background-image: url(../imagens/hb4.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb5{
        background-color: black;
        background-image: url(../imagens/hb5.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb6{
        background-color: black;
        background-image: url(../imagens/hb6.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb7{
        background-color: black;
        background-image: url(../imagens/hb7.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb8{
        background-color: black;
        background-image: url(../imagens/hb8.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb9{
        background-color: black;
        background-image: url(../imagens/hb9.jpg);
        background-position: center;
        background-size: cover;
    }
    #hb10{
        background-color: black;
        background-image: url(../imagens/hb10.jpg);
        background-position: center;
        background-size: cover;
    }





footer{
    background-color: lightgray;
}